.item-name{
  text-align: center;
  font-size: 30px;
  font-family:'Arial';
  background: grey;
  padding:10px;
  border-radius:5px 5px 0 0;
  color:white;
}

.item-artist{
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 30px;
  color:grey;
}
